.setbg {
    background-color: black;
    background-image: url("https://background-tiles.com/overview/black/textures/large/5006.png");
}

.navibar {
    font-size: large;
}
.tier01 { 
            margin-right: auto;
            margin-left: auto;
            scroll-margin-block: true;
            color: white;
}
th, td {
    border: 5px solid blue;
    padding: 15px;
    font-size: 40px;
}
.title {
    margin: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    font-size: 50px;
    color: cadetblue;
}
.paragraph {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:white
}

.anim {
    text-decoration: none;
    transition: color 0.2;
    
}
.anim:hover {
    color: aqua;
}
.anim:active {
    color:rgb(1, 168, 168);
}